# Table of Contents
 <p><div class="lev1"><a href="#Task-1.-Compiling-Ebola-Data"><span class="toc-item-num">Task 1.&nbsp;&nbsp;</span>Compiling Ebola Data</a></div>
 <div class="lev2"><a href="#1.1-Import-Data"><span class="toc-item-num">1.1 &nbsp;&nbsp;</span>Import Data</a></div>
 <div class="lev2"><a href="#1.2-Indexing-Data"><span class="toc-item-num">1.2 &nbsp;&nbsp;</span>Indexing Data</a></div>
 <div class="lev2"><a href="#1.3-Data-cleaning"><span class="toc-item-num">1.3 &nbsp;&nbsp;</span>Data cleaning</a></div>
 <div class="lev2"><a href="#1.4-Calculating-means"><span class="toc-item-num">1.4 &nbsp;&nbsp;</span>Calculating means</a></div>
 <div class="lev2"><a href="#1.5-Merging"><span class="toc-item-num">1.5 &nbsp;&nbsp;</span>Merging</a>
 </p>
 <p>
 <div class="lev1"><a href="#Task-2.-RNA-Sequences"><span class="toc-item-num">Task 2.&nbsp;&nbsp;</span>RNA Sequences</a></div>
 <div class="lev1"><a href="#Task-3.-Class-War-in-Titanic"><span class="toc-item-num">Task 3.&nbsp;&nbsp;</span>Class War in Titanic</a></div></p>
 <div class="lev1"><a href="#Table-of-Contents"><span class="toc-item-num">0.&nbsp;</span>Table of contents</a></div>

In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_context('notebook')

In [2]:
from datetime import date,time, datetime
import glob, os
from dateutil.parser import parse

In [3]:
DATA_FOLDER = 'Data/' # Use the data folder provided in Tutorial 02 - Intro to Pandas.

## Task 1. Compiling Ebola Data

The `DATA_FOLDER/ebola` folder contains summarized reports of Ebola cases from three countries (Guinea, Liberia and Sierra Leone) during the recent outbreak of the disease in West Africa. For each country, there are daily reports that contain various information about the outbreak in several cities in each country.

Use pandas to import these data files into a single `Dataframe`.
Using this `DataFrame`, calculate for *each country*, the *daily average* per year of *new cases* and *deaths*.
Make sure you handle all the different expressions for *new cases* and *deaths* that are used in the reports.

For each country:
    1. daily average
        1.1 new cases
            1.1.1 suspected
            1.1.2 probable
            1.1.3 confirmed 
        1.2 deaths

The idea to calculate each mean is to sum the new value for each report over roughly a month and divide the result by the day-span between the first and last report

## 1.1 Import Data
We want to import all the files for each country in a single Dataframe. We did this following a stackoverflow thread that allowed us to easily concatenate the files one by one

 <div class="lev1"><a href="#Table-of-Contents"><span class="toc-item-num"></span>Table of contents</a></div>

In [4]:
EBOLA_FOLDER = DATA_FOLDER + "ebola/"
GUINEA_FOLDER = EBOLA_FOLDER + "guinea_data/"
LIBERIA_FOLDER = EBOLA_FOLDER + "liberia_data/"
SL_FOLDER = EBOLA_FOLDER + "sl_data/"

Solution for following imports found at: https://stackoverflow.com/questions/20906474/import-multiple-csv-files-into-pandas-and-concatenate-into-one-dataframe/21232849

### Guinea Import

In [5]:
path = GUINEA_FOLDER
all_files = glob.glob(os.path.join(path, "*.csv"))

df_from_each_file = (pd.read_csv(f) for f in all_files)
guinea_data = pd.concat(df_from_each_file, ignore_index=True)

In [6]:
guinea_data.head(2)

,Beyla,Boffa,Conakry,Coyah,Dabola,Dalaba,Date,Description,Dinguiraye,Dubreka,...,Kouroussa,Lola,Macenta,Mzerekore,Nzerekore,Pita,Siguiri,Telimele,Totals,Yomou
0,NaN,0,5,NaN,0,NaN,2014-08-04,New cases of suspects,0,0,...,0,NaN,0,NaN,0,0,0,0,5,NaN
1,NaN,0,0,NaN,0,NaN,2014-08-04,New cases of probables,0,0,...,0,NaN,0,NaN,0,0,0,0,0,NaN

### Liberia Import

In [7]:
path = LIBERIA_FOLDER
all_files = glob.glob(os.path.join(path, "*.csv"))

df_from_each_file = (pd.read_csv(f) for f in all_files)
liberia_data = pd.concat(df_from_each_file, ignore_index=True)

In [8]:
liberia_data.head(2)

,Bomi County,Bong County,Date,Gbarpolu County,Grand Bassa,Grand Cape Mount,Grand Gedeh,Grand Kru,Lofa County,Margibi County,Maryland County,Montserrado County,National,Nimba County,River Gee County,RiverCess County,Sinoe County,Unnamed: 18,Variable
0,NaN,NaN,6/16/2014,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,0.0,1.0,NaN,NaN,NaN,NaN,NaN,Specimens collected
1,NaN,NaN,6/16/2014,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,Specimens pending for testing

### SL Import

In [9]:
path = SL_FOLDER # use your path
all_files = glob.glob(os.path.join(path, "*.csv"))     # advisable to use os.path.join as this makes concatenation OS independent

df_from_each_file = (pd.read_csv(f) for f in all_files)
sl_data = pd.concat(df_from_each_file, ignore_index=True)

In [10]:
sl_data.head(2)

,34 Military Hospital,Bo,Bo EMC,Bombali,Bonthe,Hastings-F/Town,Kailahun,Kambia,Kenema,Kenema (IFRC),...,Port Loko,Pujehun,Tonkolili,Unnamed: 18,Western area,Western area combined,Western area rural,Western area urban,date,variable
0,NaN,654142,NaN,494139,168729,NaN,465048,341690,653013,NaN,...,557978,335574,434937,NaN,NaN,NaN,263619,1040888,2014-08-12,population
1,NaN,0,NaN,0,0,NaN,0,0,3,NaN,...,1,0,0,NaN,NaN,NaN,0,0,2014-08-12,new_noncase

## 1.2 Indexing Data

 <div class="lev1"><a href="#Table-of-Contents"><span class="toc-item-num"></span>Table of contents</a></div>

In [11]:
guinea_data_indexed = guinea_data.set_index(['Description', 'Date'])
guinea_data_indexed.head(3)

,,Beyla,Boffa,Conakry,Coyah,Dabola,Dalaba,Dinguiraye,Dubreka,Forecariah,Gueckedou,...,Kouroussa,Lola,Macenta,Mzerekore,Nzerekore,Pita,Siguiri,Telimele,Totals,Yomou
Description,Date,,,,,,,,,,,,,,,,,,,,,
New cases of suspects,2014-08-04,NaN,0,5,NaN,0,NaN,0,0,NaN,0,...,0,NaN,0,NaN,0,0,0,0,5,NaN
New cases of probables,2014-08-04,NaN,0,0,NaN,0,NaN,0,0,NaN,0,...,0,NaN,0,NaN,0,0,0,0,0,NaN
New cases of confirmed,2014-08-04,NaN,0,1,NaN,0,NaN,0,0,NaN,3,...,0,NaN,0,NaN,0,0,0,0,4,NaN

In [12]:
liberia_data['Date'] = pd.to_datetime(liberia_data['Date'])
#liberia_data.Date.apply(lambda d: datetime.strptime(d, '%m/%d/%y'))
liberia_data_indexed = liberia_data.set_index(['Variable', 'Date'])
liberia_data_indexed.head(3)

,,Bomi County,Bong County,Gbarpolu County,Grand Bassa,Grand Cape Mount,Grand Gedeh,Grand Kru,Lofa County,Margibi County,Maryland County,Montserrado County,National,Nimba County,River Gee County,RiverCess County,Sinoe County,Unnamed: 18
Variable,Date,,,,,,,,,,,,,,,,,
Specimens collected,2014-06-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,0.0,1.0,NaN,NaN,NaN,NaN,NaN
Specimens pending for testing,2014-06-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
Total specimens tested,2014-06-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.0,NaN,NaN,7.0,28.0,NaN,NaN,NaN,NaN,NaN

In [13]:
sl_data_indexed = sl_data.set_index(['variable', 'date'])
sl_data_indexed.head(3)

,,34 Military Hospital,Bo,Bo EMC,Bombali,Bonthe,Hastings-F/Town,Kailahun,Kambia,Kenema,Kenema (IFRC),...,Police training School,Police traning School,Port Loko,Pujehun,Tonkolili,Unnamed: 18,Western area,Western area combined,Western area rural,Western area urban
variable,date,,,,,,,,,,,,,,,,,,,,,
population,2014-08-12,NaN,654142,NaN,494139,168729,NaN,465048,341690,653013,NaN,...,NaN,NaN,557978,335574,434937,NaN,NaN,NaN,263619,1040888
new_noncase,2014-08-12,NaN,0,NaN,0,0,NaN,0,0,3,NaN,...,NaN,NaN,1,0,0,NaN,NaN,NaN,0,0
new_suspected,2014-08-12,NaN,1,NaN,0,0,NaN,0,0,9,NaN,...,NaN,NaN,0,0,0,NaN,NaN,NaN,0,0

We observe a lot of NaN values and two duplicated columns in the Sierra Leone Data. This is the next step, cleaning

## 1.3 Data cleaning

 <div class="lev1"><a href="#Table-of-Contents"><span class="toc-item-num"></span>Table of contents</a></div>

First idea: it seems to make sense to replace NaN values by 0's. Then we can proceed easily to merging columns

In [14]:
guinea_data_indexed = guinea_data_indexed.apply(pd.to_numeric, errors = 'coerce')
guinea_data_indexed.fillna(0, inplace=True)
guinea_data_indexed.head(3)

,,Beyla,Boffa,Conakry,Coyah,Dabola,Dalaba,Dinguiraye,Dubreka,Forecariah,Gueckedou,...,Kouroussa,Lola,Macenta,Mzerekore,Nzerekore,Pita,Siguiri,Telimele,Totals,Yomou
Description,Date,,,,,,,,,,,,,,,,,,,,,
New cases of suspects,2014-08-04,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0
New cases of probables,2014-08-04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
New cases of confirmed,2014-08-04,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0

In [15]:
liberia_data_indexed = liberia_data_indexed.apply(pd.to_numeric, errors = 'coerce')
liberia_data_indexed.fillna(0, inplace=True)
liberia_data_indexed.head(3)

,,Bomi County,Bong County,Gbarpolu County,Grand Bassa,Grand Cape Mount,Grand Gedeh,Grand Kru,Lofa County,Margibi County,Maryland County,Montserrado County,National,Nimba County,River Gee County,RiverCess County,Sinoe County,Unnamed: 18
Variable,Date,,,,,,,,,,,,,,,,,
Specimens collected,2014-06-16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
Specimens pending for testing,2014-06-16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Total specimens tested,2014-06-16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.0,0.0,0.0,7.0,28.0,0.0,0.0,0.0,0.0,0.0

In [16]:
sl_data_indexed = sl_data_indexed.apply(pd.to_numeric, errors = 'coerce')
sl_data_indexed.fillna(0, inplace=True)
sl_data_indexed.head(3)

,,34 Military Hospital,Bo,Bo EMC,Bombali,Bonthe,Hastings-F/Town,Kailahun,Kambia,Kenema,Kenema (IFRC),...,Police training School,Police traning School,Port Loko,Pujehun,Tonkolili,Unnamed: 18,Western area,Western area combined,Western area rural,Western area urban
variable,date,,,,,,,,,,,,,,,,,,,,,
population,2014-08-12,0.0,654142.0,0.0,494139.0,168729.0,0.0,465048.0,341690.0,653013.0,0.0,...,0.0,0.0,557978.0,335574.0,434937.0,0.0,0.0,0.0,263619.0,1040888.0
new_noncase,2014-08-12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
new_suspected,2014-08-12,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Now proceed to the merging of duplicated columns

In [17]:
sl_merged = sl_data_indexed.copy()
sl_merged['Police training School'] = pd.concat([sl_data_indexed['Police training School'] +
                                                       sl_data_indexed['Police traning School']])
del sl_merged['Police traning School']
sl_merged['Western area'] = pd.concat([sl_data_indexed['Western area'] +
                                                       sl_data_indexed['Western area combined']])
del sl_merged['Western area combined']
sl_merged.head(3)

,,34 Military Hospital,Bo,Bo EMC,Bombali,Bonthe,Hastings-F/Town,Kailahun,Kambia,Kenema,Kenema (IFRC),...,Moyamba,National,Police training School,Port Loko,Pujehun,Tonkolili,Unnamed: 18,Western area,Western area rural,Western area urban
variable,date,,,,,,,,,,,,,,,,,,,,,
population,2014-08-12,0.0,654142.0,0.0,494139.0,168729.0,0.0,465048.0,341690.0,653013.0,0.0,...,278119.0,6348350.0,0.0,557978.0,335574.0,434937.0,0.0,0.0,263619.0,1040888.0
new_noncase,2014-08-12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,...,0.0,4.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
new_suspected,2014-08-12,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,0.0,...,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## 1.4 Calculating means

### Guinea Means

 <div class="lev1"><a href="#Table-of-Contents"><span class="toc-item-num"></span>Table of contents</a></div>

In [18]:
guinea_means = guinea_data_indexed['Totals']
guinea_means

Description                                      Date
New cases of suspects                            2014-08-04        5.0
New cases of probables                           2014-08-04        0.0
New cases of confirmed                           2014-08-04        4.0
Total new cases registered so far                2014-08-04        9.0
Total cases of suspects                          2014-08-04       11.0
Total cases of probables                         2014-08-04      133.0
Total cases of confirmed                         2014-08-04      351.0
Cumulative (confirmed + probable + suspects)     2014-08-04      495.0
New deaths registered today                      2014-08-04        2.0
New deaths registered today (confirmed)          2014-08-04        2.0
New deaths registered today (probables)          2014-08-04        0.0
New deaths registered today (suspects)           2014-08-04        0.0
Total deaths of suspects                         2014-08-04        2.0
Total deaths of probables                        2014-08-04      133.0
Total deaths of confirmed                        2014-08-04      228.0
Total deaths (confirmed + probables + suspects)  2014-08-04      363.0
Total PEC center today                           2014-08-04       31.0
Total PEC center today (confirmed)               2014-08-04       18.0
Total PEC center today (probables)               2014-08-04        0.0
Total PEC center today (suspects)                2014-08-04       13.0
Total of deaths in confirmed cases in CTE        2014-08-04      138.0
Total of cured in confirmed cases in CTE         2014-08-04       89.0
Number of male confirmed cases                   2014-08-04      161.0
Number of female confirmed cases                 2014-08-04      190.0
Number of male probables cases                   2014-08-04       52.0
Number of female probables cases                 2014-08-04       81.0
Number of male suspects cases                    2014-08-04        7.0
Number of female suspects cases                  2014-08-04        6.0
Total number of male cases                       2014-08-04      220.0
Total number of female cases                     2014-08-04      277.0
                                                                ...
New cases of confirmed                           2014-10-01        6.0
Total new cases registered so far                2014-10-01       34.0
Total cases of suspects                          2014-10-01       45.0
Total cases of probables                         2014-10-01      177.0
Total cases of confirmed                         2014-10-01      977.0
Cumulative (confirmed + probable + suspects)     2014-10-01     1199.0
Total suspected non-class cases                  2014-10-01      974.0
New deaths registered                            2014-10-01       15.0
Total deaths of suspects                         2014-10-01        0.0
Total deaths of probables                        2014-10-01      177.0
Total deaths of confirmed                        2014-10-01      562.0
Total deaths (confirmed + probables + suspects)  2014-10-01      739.0
Fatality rate for confirmed and probables        2014-10-01        0.0
New cases of confirmed among health workers      2014-10-01        2.0
Total case of confirmed among health workers     2014-10-01       69.0
New deaths registered among health workers       2014-10-01        0.0
Total deaths registered among health workers     2014-10-01       35.0
New admits to CTE so far                         2014-10-01       25.0
Total number of hospitalized cases in CTE        2014-10-01      114.0
Total number of exits from CTE                   2014-10-01       29.0
Total number of admissions to CTE                2014-10-01     1576.0
New contacts registered so far                   2014-10-01        0.0
Total contacts registered from start date        2014-10-01    11772.0
Number of contacts to follow today               2014-10-01     2661.0
Number of contacts followed today                2014-10-01     2595.0
Number of contacts out of the track 21 days      2014-10-01     9110.0
Number of contacts lost to follow up             2014-10-01        1.0
Number of samples collected today                2014-10-01       25.0
Number of samples under test                     2014-10-01        0.0
Total samples tested                             2014-10-01     2832.0
Name: Totals, Length: 714, dtype: float64

In [19]:
guinea_means.sort_index(level=['Description','Date'], ascending=[1, 0], inplace=True)
guinea_filtered = guinea_means[['New cases of suspects', 'New cases of probables', 'New cases of confirmed', 
                               'New deaths registered']]
guinea_filtered = pd.DataFrame(guinea_filtered)
guinea_filtered.loc['New deaths registered']

            Totals
Date
2014-10-01    15.0
2014-09-30     4.0
2014-09-26     5.0
2014-09-24     3.0
2014-09-23     3.0
2014-09-22     3.0
2014-09-21     0.0
2014-09-19     5.0
2014-09-17     3.0
2014-09-16     3.0
2014-09-14     1.0
2014-09-11     2.0
2014-09-09     7.0
2014-09-08     4.0
2014-09-07     4.0
2014-09-04     5.0
2014-09-02     5.0
2014-08-31     3.0
2014-08-30     5.0
2014-08-27     2.0
2014-08-26     5.0

In [20]:
guinea_unstacked = guinea_filtered.unstack()
guinea_unstacked.index = ['New confirmed', 'New probables', 'New suspects', 'Death registered']
guinea_unstacked.fillna(0, inplace = True)
guinea_unstacked = guinea_unstacked['Totals']
guinea_unstacked

Date,2014-08-04,2014-08-26,2014-08-27,2014-08-30,2014-08-31,2014-09-02,2014-09-04,2014-09-07,2014-09-08,2014-09-09,...,2014-09-16,2014-09-17,2014-09-19,2014-09-21,2014-09-22,2014-09-23,2014-09-24,2014-09-26,2014-09-30,2014-10-01
New confirmed,4.0,10.0,10.0,9.0,29.0,14.0,17.0,11.0,11.0,7.0,...,6.0,6.0,12.0,17.0,14.0,25.0,20.0,10.0,11.0,6.0
New probables,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0
New suspects,5.0,18.0,12.0,15.0,9.0,11.0,13.0,5.0,5.0,9.0,...,4.0,4.0,3.0,1.0,5.0,4.0,8.0,2.0,4.0,28.0
Death registered,0.0,5.0,2.0,5.0,3.0,5.0,5.0,4.0,4.0,7.0,...,3.0,3.0,5.0,0.0,3.0,3.0,3.0,5.0,4.0,15.0

#### August Guinea Means

 <div class="lev1"><a href="#Table-of-Contents"><span class="toc-item-num"></span>Table of contents</a></div>

In [21]:
first_august_gui = '2014-08-04'
last_august_gui = '2014-09-04'
guinea_start_august = guinea_unstacked[[first_august_gui]]
guinea_end_august = guinea_unstacked[[last_august_gui]]

In [22]:
august_month_gui = guinea_unstacked.loc[:,first_august_gui:last_august_gui] 
august_start = parse(guinea_start_august.columns[0])
august_end = parse(guinea_end_august.columns[0])

august_month_gui

Date,2014-08-04,2014-08-26,2014-08-27,2014-08-30,2014-08-31,2014-09-02,2014-09-04
New confirmed,4.0,10.0,10.0,9.0,29.0,14.0,17.0
New probables,0.0,0.0,0.0,0.0,8.0,0.0,0.0
New suspects,5.0,18.0,12.0,15.0,9.0,11.0,13.0
Death registered,0.0,5.0,2.0,5.0,3.0,5.0,5.0

In [23]:
august_days = august_end - august_start
august_days = august_days.days

In [24]:
guinea_august_means = august_month_gui.sum(axis = 1)/august_days
guinea_august_means

New confirmed       3.000000
New probables       0.258065
New suspects        2.677419
Death registered    0.806452
dtype: float64

#### September Guinea Means

 <div class="lev1"><a href="#Table-of-Contents"><span class="toc-item-num"></span>Table of contents</a></div>

In [25]:
first_sept_gui = '2014-09-02'
last_sept_gui = '2014-10-01'
guinea_start_sept = guinea_unstacked[[first_sept_gui]]
guinea_end_sept = guinea_unstacked[[last_sept_gui]]

In [53]:
sept_month_gui = guinea_unstacked.loc[:,first_sept_gui:last_sept_gui] 
sept_start_gui = parse(guinea_start_sept.columns[0])
sept_end_gui = parse(guinea_end_sept.columns[0])

sept_month_gui

Date,2014-09-02,2014-09-04,2014-09-07,2014-09-08,2014-09-09,2014-09-11,2014-09-14,2014-09-16,2014-09-17,2014-09-19,2014-09-21,2014-09-22,2014-09-23,2014-09-24,2014-09-26,2014-09-30,2014-10-01
New confirmed,14.0,17.0,11.0,11.0,7.0,13.0,14.0,6.0,6.0,12.0,17.0,14.0,25.0,20.0,10.0,11.0,6.0
New probables,0.0,0.0,0.0,0.0,0.0,0.0,11.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0
New suspects,11.0,13.0,5.0,5.0,9.0,9.0,0.0,4.0,4.0,3.0,1.0,5.0,4.0,8.0,2.0,4.0,28.0
Death registered,5.0,5.0,4.0,4.0,7.0,2.0,1.0,3.0,3.0,5.0,0.0,3.0,3.0,3.0,5.0,4.0,15.0

In [56]:
sept_days_gui = sept_end_gui - sept_start_gui
sept_days_gui = sept_days_gui.days

In [57]:
guinea_sept_means = sept_month_gui.sum(axis = 1)/sept_days_gui
guinea_sept_means

New confirmed       7.379310
New probables       0.655172
New suspects        3.965517
Death registered    2.482759
dtype: float64

### Liberia Means

In [63]:
liberia_means = liberia_data_indexed['National']
#liberia_means = pd.DataFrame(liberia_means)
liberia_means.head(2)

Variable                                                  Date
Case Fatality Rate (CFR) - \n Confirmed & Probable Cases  2014-10-31    0.0
                                                          2014-11-04    0.0
Name: National, dtype: float64

In [64]:
liberia_means.sort_index(level=['Variable', 'Date'], ascending=[1, 1], inplace=True)
liberia_filtered = liberia_means[['New Case/s (Suspected)', 'New Case/s (Probable)', 'New case/s (confirmed)', 
                               'Newly reported deaths']]
liberia_filtered.head(3)

Variable               Date
New Case/s (Probable)  2014-06-16    1.0
                       2014-06-17    0.0
                       2014-06-22    0.0
Name: National, dtype: float64

In [65]:
liberia_filtered = pd.DataFrame(liberia_filtered)
liberia_unstacked = liberia_filtered.unstack()
liberia_unstacked.index = ['New probable', 'New suspected', 'New confirmed', 'Death reported']
liberia_unstacked = liberia_unstacked['National']
liberia_unstacked

Date,2014-06-16 00:00:00,2014-06-17 00:00:00,2014-06-22 00:00:00,2014-06-24 00:00:00,2014-06-25 00:00:00,2014-06-28 00:00:00,2014-06-29 00:00:00,2014-07-01 00:00:00,2014-07-02 00:00:00,2014-07-03 00:00:00,...,2014-11-30 00:00:00,2014-12-01 00:00:00,2014-12-02 00:00:00,2014-12-03 00:00:00,2014-12-04 00:00:00,2014-12-05 00:00:00,2014-12-06 00:00:00,2014-12-07 00:00:00,2014-12-08 00:00:00,2014-12-09 00:00:00
New probable,1.0,0.0,0.0,0.0,1.0,6.0,0.0,0.0,3.0,2.0,...,0.0,9.0,10.0,0.0,1800.0,1808.0,1810.0,1829.0,1805.0,1801.0
New suspected,2.0,2.0,5.0,2.0,4.0,2.0,0.0,2.0,1.0,1.0,...,0.0,25.0,18.0,0.0,3054.0,3056.0,3056.0,3067.0,3054.0,3050.0
New confirmed,1.0,0.0,5.0,4.0,2.0,1.0,2.0,2.0,0.0,1.0,...,10.0,1.0,9.0,0.0,2867.0,2867.0,2869.0,2869.0,2927.0,2946.0
Death reported,2.0,0.0,4.0,4.0,3.0,1.0,0.0,5.0,5.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

#### September Liberia Means

 <div class="lev1"><a href="#Table-of-Contents"><span class="toc-item-num"></span>Table of contents</a></div>

In [52]:
first_june_lib = date(2014, 6, 16)
last_june_lib = date(2014, 7, 17)
lib_start_june = liberia_unstacked[[first_june_lib]]
lib_end_june = liberia_unstacked[[last_june_lib]]

In [59]:
june_month_lib = liberia_unstacked.loc[:,first_june_lib:last_june_lib] 
june_start_lib = lib_start_june.columns[0]
june_end_lib = lib_end_june.columns[0]

june_month_lib

Date,2014-06-16 00:00:00,2014-06-17 00:00:00,2014-06-22 00:00:00,2014-06-24 00:00:00,2014-06-25 00:00:00,2014-06-28 00:00:00,2014-06-29 00:00:00,2014-07-01 00:00:00,2014-07-02 00:00:00,2014-07-03 00:00:00,2014-07-07 00:00:00,2014-07-08 00:00:00,2014-07-10 00:00:00,2014-07-13 00:00:00,2014-07-17 00:00:00
New probable,1.0,0.0,0.0,0.0,1.0,6.0,0.0,0.0,3.0,2.0,2.0,0.0,1.0,5.0,9.0
New suspected,2.0,2.0,5.0,2.0,4.0,2.0,0.0,2.0,1.0,1.0,0.0,3.0,2.0,0.0,1.0
New confirmed,1.0,0.0,5.0,4.0,2.0,1.0,2.0,2.0,0.0,1.0,5.0,0.0,0.0,0.0,0.0
Death reported,2.0,0.0,4.0,4.0,3.0,1.0,0.0,5.0,5.0,4.0,2.0,2.0,4.0,3.0,3.0

In [60]:
june_days_lib = june_end_lib - june_start_lib
june_days_lib = june_days_lib.days

In [66]:
lib_june_means = june_month_lib.sum(axis = 1)/june_days_lib
lib_june_means

New probable      0.967742
New suspected     0.870968
New confirmed     0.741935
Death reported    1.354839
dtype: float64

#### July Liberia Means

 <div class="lev1"><a href="#Table-of-Contents"><span class="toc-item-num"></span>Table of contents</a></div>

 <div class="lev1"><a href="#Table-of-Contents"><span class="toc-item-num"></span>Table of contents</a></div>

 <div class="lev1"><a href="#Table-of-Contents"><span class="toc-item-num"></span>Table of contents</a></div>

### Sierra Leone Means

In [ ]:
sl_means = sl_data_indexed['National']
sl_means

In [ ]:
sl_means.sort_index(level=['variable','date'], ascending=[1, 0], inplace=True)
sl_filtered = sl_means[['new_noncase', 'new_suspected', 'new_probable', 'new_confirmed', 
                               'death_suspected', 'death_probable', 'death_confirmed']]
sl_filtered = pd.DataFrame(sl_filtered)
sl_unstacked  = sl_filtered.unstack()
sl_unstacked = sl_unstacked.mean(axis = 1)
sl_unstacked = pd.DataFrame(sl_unstacked, columns = ['mean'])
sl_unstacked.index = ['New noncase', 'New suspected', 'New probable', 'New confirmed', 
                           'Death suspected', 'Death probable', 'Death confirmed']
sl_unstacked

In [ ]:
sl_final_means = sl_unstacked.mean(axis = 1)
sl_final_means

## 1.5 Merging

 <div class="lev1"><a href="#Table-of-Contents"><span class="toc-item-num"></span>Table of contents</a></div>

This par consists of combining the different results in a single Dataframe

In [ ]:

merged_means = pd.DataFrame(
    pd.concat([guinea_final_means, liberia_final_means, sl_final_means], keys = ['Guinea', 'Liberia', 'Sierra Leone']),
columns = ['Means'])
merged_means.index.names = ['Country', None]
merged_means

## Task 2. RNA Sequences

In the `DATA_FOLDER/microbiome` subdirectory, there are 9 spreadsheets of microbiome data that was acquired from high-throughput RNA sequencing procedures, along with a 10<sup>th</sup> file that describes the content of each. 

Use pandas to import the first 9 spreadsheets into a single `DataFrame`.
Then, add the metadata information from the 10<sup>th</sup> spreadsheet as columns in the combined `DataFrame`.
Make sure that the final `DataFrame` has a unique index and all the `NaN` values have been replaced by the tag `unknown`.

In [ ]:
# Write your answer here

## Task 3. Class War in Titanic

Use pandas to import the data file `Data/titanic.xls`. It contains data on all the passengers that travelled on the Titanic.

In [ ]:
from IPython.core.display import HTML
HTML(filename=DATA_FOLDER+'/titanic.html')

For each of the following questions state clearly your assumptions and discuss your findings:
1. Describe the *type* and the *value range* of each attribute. Indicate and transform the attributes that can be `Categorical`. 
2. Plot histograms for the *travel class*, *embarkation port*, *sex* and *age* attributes. For the latter one, use *discrete decade intervals*. 
3. Calculate the proportion of passengers by *cabin floor*. Present your results in a *pie chart*.
4. For each *travel class*, calculate the proportion of the passengers that survived. Present your results in *pie charts*.
5. Calculate the proportion of the passengers that survived by *travel class* and *sex*. Present your results in *a single histogram*.
6. Create 2 equally populated *age categories* and calculate survival proportions by *age category*, *travel class* and *sex*. Present your results in a `DataFrame` with unique index.

In [ ]:
# Write your answer here