# Table of Contents
 <p><div class="lev1"><a href="#Task-1.-Compiling-Ebola-Data"><span class="toc-item-num">Task 1.&nbsp;&nbsp;</span>Compiling Ebola Data</a></div>
 <div class="lev1"><a href="#Task-2.-RNA-Sequences"><span class="toc-item-num">Task 2.&nbsp;&nbsp;</span>RNA Sequences</a></div>
 <div class="lev1"><a href="#Task-3.-Class-War-in-Titanic"><span class="toc-item-num">Task 3.&nbsp;&nbsp;</span>Class War in Titanic</a></div></p>

In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_context('notebook')

In [2]:
from datetime import date,time
import glob, os

In [3]:
DATA_FOLDER = 'Data/' # Use the data folder provided in Tutorial 02 - Intro to Pandas.

## Task 1. Compiling Ebola Data

The `DATA_FOLDER/ebola` folder contains summarized reports of Ebola cases from three countries (Guinea, Liberia and Sierra Leone) during the recent outbreak of the disease in West Africa. For each country, there are daily reports that contain various information about the outbreak in several cities in each country.

Use pandas to import these data files into a single `Dataframe`.
Using this `DataFrame`, calculate for *each country*, the *daily average* per year of *new cases* and *deaths*.
Make sure you handle all the different expressions for *new cases* and *deaths* that are used in the reports.

For each country:
    1. daily average
        1.1 new cases
            1.1.1 suspected
            1.1.2 probable
            1.1.3 confirmed 
        1.2 deaths

## 1.1 Import Data
We want to import all the files for each country in a single Dataframe. We did this following a stackoverflow thread that allowed us to easily concatenate the files one by one

In [4]:
EBOLA_FOLDER = DATA_FOLDER + "ebola/"
GUINEA_FOLDER = EBOLA_FOLDER + "guinea_data/"
LIBERIA_FOLDER = EBOLA_FOLDER + "liberia_data/"
SL_FOLDER = EBOLA_FOLDER + "sl_data/"

Solution for following imports found at: https://stackoverflow.com/questions/20906474/import-multiple-csv-files-into-pandas-and-concatenate-into-one-dataframe/21232849

### Guinea Import

In [5]:
path = GUINEA_FOLDER
all_files = glob.glob(os.path.join(path, "*.csv"))

df_from_each_file = (pd.read_csv(f) for f in all_files)
guinea_data = pd.concat(df_from_each_file, ignore_index=True)

In [6]:
guinea_data.head(2)

,Beyla,Boffa,Conakry,Coyah,Dabola,Dalaba,Date,Description,Dinguiraye,Dubreka,...,Kouroussa,Lola,Macenta,Mzerekore,Nzerekore,Pita,Siguiri,Telimele,Totals,Yomou
0,NaN,0,5,NaN,0,NaN,2014-08-04,New cases of suspects,0,0,...,0,NaN,0,NaN,0,0,0,0,5,NaN
1,NaN,0,0,NaN,0,NaN,2014-08-04,New cases of probables,0,0,...,0,NaN,0,NaN,0,0,0,0,0,NaN

### Liberia Import

In [7]:
path = LIBERIA_FOLDER
all_files = glob.glob(os.path.join(path, "*.csv"))

df_from_each_file = (pd.read_csv(f) for f in all_files)
liberia_data = pd.concat(df_from_each_file, ignore_index=True)

In [8]:
liberia_data.head(2)

,Bomi County,Bong County,Date,Gbarpolu County,Grand Bassa,Grand Cape Mount,Grand Gedeh,Grand Kru,Lofa County,Margibi County,Maryland County,Montserrado County,National,Nimba County,River Gee County,RiverCess County,Sinoe County,Unnamed: 18,Variable
0,NaN,NaN,6/16/2014,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,0.0,1.0,NaN,NaN,NaN,NaN,NaN,Specimens collected
1,NaN,NaN,6/16/2014,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,Specimens pending for testing

### SL Import

In [9]:
path = SL_FOLDER # use your path
all_files = glob.glob(os.path.join(path, "*.csv"))     # advisable to use os.path.join as this makes concatenation OS independent

df_from_each_file = (pd.read_csv(f) for f in all_files)
sl_data = pd.concat(df_from_each_file, ignore_index=True)

In [10]:
sl_data.head(2)

,34 Military Hospital,Bo,Bo EMC,Bombali,Bonthe,Hastings-F/Town,Kailahun,Kambia,Kenema,Kenema (IFRC),...,Port Loko,Pujehun,Tonkolili,Unnamed: 18,Western area,Western area combined,Western area rural,Western area urban,date,variable
0,NaN,654142,NaN,494139,168729,NaN,465048,341690,653013,NaN,...,557978,335574,434937,NaN,NaN,NaN,263619,1040888,2014-08-12,population
1,NaN,0,NaN,0,0,NaN,0,0,3,NaN,...,1,0,0,NaN,NaN,NaN,0,0,2014-08-12,new_noncase

## 1.2 Indexing Data

In [11]:
guinea_data_indexed = guinea_data.set_index(['Date', 'Description'])
guinea_data_indexed.head(3)

                                  Beyla Boffa Conakry Coyah Dabola Dalaba  \
Date       Description
2014-08-04 New cases of suspects    NaN     0       5   NaN      0    NaN
           New cases of probables   NaN     0       0   NaN      0    NaN
           New cases of confirmed   NaN     0       1   NaN      0    NaN

                                  Dinguiraye Dubreka Forecariah Gueckedou  \
Date       Description
2014-08-04 New cases of suspects           0       0        NaN         0
           New cases of probables          0       0        NaN         0
           New cases of confirmed          0       0        NaN         3

                                   ...  Kouroussa Lola Macenta Mzerekore  \
Date       Description             ...
2014-08-04 New cases of suspects   ...          0  NaN       0       NaN
           New cases of probables  ...          0  NaN       0       NaN
           New cases of confirmed  ...          0  NaN       0       NaN

                                  Nzerekore Pita Siguiri Telimele Totals Yomou
Date       Description
2014-08-04 New cases of suspects          0    0       0        0      5   NaN
           New cases of probables         0    0       0        0      0   NaN
           New cases of confirmed         0    0       0        0      4   NaN

[3 rows x 23 columns]

In [12]:
liberia_data_indexed = liberia_data.set_index(['Date', 'Variable'])
liberia_data_indexed.head(3)

                                         Bomi County  Bong County  \
Date      Variable
6/16/2014 Specimens collected                    NaN          NaN
          Specimens pending for testing          NaN          NaN
          Total specimens tested                 NaN          NaN

                                         Gbarpolu County  Grand Bassa  \
Date      Variable
6/16/2014 Specimens collected                        NaN          NaN
          Specimens pending for testing              NaN          NaN
          Total specimens tested                     NaN          NaN

                                         Grand Cape Mount  Grand Gedeh  \
Date      Variable
6/16/2014 Specimens collected                         NaN          NaN
          Specimens pending for testing               NaN          NaN
          Total specimens tested                      NaN          NaN

                                         Grand Kru  Lofa County  \
Date      Variable
6/16/2014 Specimens collected                  NaN          1.0
          Specimens pending for testing        NaN          0.0
          Total specimens tested               NaN         21.0

                                         Margibi County  Maryland County  \
Date      Variable
6/16/2014 Specimens collected                       NaN              NaN
          Specimens pending for testing             NaN              NaN
          Total specimens tested                    NaN              NaN

                                         Montserrado County  National  \
Date      Variable
6/16/2014 Specimens collected                           0.0       1.0
          Specimens pending for testing                 0.0       0.0
          Total specimens tested                        7.0      28.0

                                         Nimba County  River Gee County  \
Date      Variable
6/16/2014 Specimens collected                     NaN               NaN
          Specimens pending for testing           NaN               NaN
          Total specimens tested                  NaN               NaN

                                         RiverCess County  Sinoe County  \
Date      Variable
6/16/2014 Specimens collected                         NaN           NaN
          Specimens pending for testing               NaN           NaN
          Total specimens tested                      NaN           NaN

                                         Unnamed: 18
Date      Variable
6/16/2014 Specimens collected                    NaN
          Specimens pending for testing          NaN
          Total specimens tested                 NaN

In [13]:
sl_data_indexed = sl_data.set_index(['date', 'variable'])
sl_data_indexed.head(3)

                          34 Military Hospital      Bo  Bo EMC Bombali  \
date       variable
2014-08-12 population                      NaN  654142     NaN  494139
           new_noncase                     NaN       0     NaN       0
           new_suspected                   NaN       1     NaN       0

                          Bonthe  Hastings-F/Town Kailahun  Kambia  Kenema  \
date       variable
2014-08-12 population     168729              NaN   465048  341690  653013
           new_noncase         0              NaN        0       0       3
           new_suspected       0              NaN        0       0       9

                          Kenema (IFRC)        ...          \
date       variable                            ...
2014-08-12 population               NaN        ...
           new_noncase              NaN        ...
           new_suspected            NaN        ...

                         Police training School Police traning School  \
date       variable
2014-08-12 population                       NaN                   NaN
           new_noncase                      NaN                   NaN
           new_suspected                    NaN                   NaN

                         Port Loko Pujehun Tonkolili  Unnamed: 18  \
date       variable
2014-08-12 population       557978  335574    434937          NaN
           new_noncase           1       0         0          NaN
           new_suspected         0       0         0          NaN

                          Western area Western area combined  \
date       variable
2014-08-12 population              NaN                   NaN
           new_noncase             NaN                   NaN
           new_suspected           NaN                   NaN

                         Western area rural Western area urban
date       variable
2014-08-12 population                263619            1040888
           new_noncase                    0                  0
           new_suspected                  0                  0

[3 rows x 25 columns]

We observe a lot of NaN values and two duplicated columns in the Sierra Leone Data. This is the next step, cleaning

## 1.3 Data cleaning

First idea: it seems to make sense to replace NaN values by 0's. Then we can proceed easily to merging columns

In [14]:
guinea_data_indexed.fillna(0, inplace=True)
guinea_data_indexed.head(3)

                                  Beyla Boffa Conakry Coyah Dabola Dalaba  \
Date       Description
2014-08-04 New cases of suspects      0     0       5     0      0      0
           New cases of probables     0     0       0     0      0      0
           New cases of confirmed     0     0       1     0      0      0

                                  Dinguiraye Dubreka Forecariah Gueckedou  \
Date       Description
2014-08-04 New cases of suspects           0       0          0         0
           New cases of probables          0       0          0         0
           New cases of confirmed          0       0          0         3

                                   ...  Kouroussa Lola Macenta Mzerekore  \
Date       Description             ...
2014-08-04 New cases of suspects   ...          0    0       0         0
           New cases of probables  ...          0    0       0         0
           New cases of confirmed  ...          0    0       0         0

                                  Nzerekore Pita Siguiri Telimele Totals Yomou
Date       Description
2014-08-04 New cases of suspects          0    0       0        0      5     0
           New cases of probables         0    0       0        0      0     0
           New cases of confirmed         0    0       0        0      4     0

[3 rows x 23 columns]

In [15]:
liberia_data_indexed.fillna(0, inplace=True)
liberia_data_indexed.head(3)

                                         Bomi County  Bong County  \
Date      Variable
6/16/2014 Specimens collected                    0.0          0.0
          Specimens pending for testing          0.0          0.0
          Total specimens tested                 0.0          0.0

                                         Gbarpolu County  Grand Bassa  \
Date      Variable
6/16/2014 Specimens collected                        0.0          0.0
          Specimens pending for testing              0.0          0.0
          Total specimens tested                     0.0          0.0

                                         Grand Cape Mount  Grand Gedeh  \
Date      Variable
6/16/2014 Specimens collected                         0.0          0.0
          Specimens pending for testing               0.0          0.0
          Total specimens tested                      0.0          0.0

                                         Grand Kru  Lofa County  \
Date      Variable
6/16/2014 Specimens collected                  0.0          1.0
          Specimens pending for testing        0.0          0.0
          Total specimens tested               0.0         21.0

                                         Margibi County  Maryland County  \
Date      Variable
6/16/2014 Specimens collected                       0.0              0.0
          Specimens pending for testing             0.0              0.0
          Total specimens tested                    0.0              0.0

                                         Montserrado County  National  \
Date      Variable
6/16/2014 Specimens collected                           0.0       1.0
          Specimens pending for testing                 0.0       0.0
          Total specimens tested                        7.0      28.0

                                         Nimba County  River Gee County  \
Date      Variable
6/16/2014 Specimens collected                     0.0               0.0
          Specimens pending for testing           0.0               0.0
          Total specimens tested                  0.0               0.0

                                         RiverCess County  Sinoe County  \
Date      Variable
6/16/2014 Specimens collected                         0.0           0.0
          Specimens pending for testing               0.0           0.0
          Total specimens tested                      0.0           0.0

                                         Unnamed: 18
Date      Variable
6/16/2014 Specimens collected                    0.0
          Specimens pending for testing          0.0
          Total specimens tested                 0.0

In [16]:
sl_data_indexed.fillna(0, inplace=True)
sl_data_indexed.head(3)

                          34 Military Hospital      Bo  Bo EMC Bombali  \
date       variable
2014-08-12 population                      0.0  654142     0.0  494139
           new_noncase                     0.0       0     0.0       0
           new_suspected                   0.0       1     0.0       0

                          Bonthe  Hastings-F/Town Kailahun  Kambia  Kenema  \
date       variable
2014-08-12 population     168729              0.0   465048  341690  653013
           new_noncase         0              0.0        0       0       3
           new_suspected       0              0.0        0       0       9

                          Kenema (IFRC)        ...          \
date       variable                            ...
2014-08-12 population               0.0        ...
           new_noncase              0.0        ...
           new_suspected            0.0        ...

                         Police training School Police traning School  \
date       variable
2014-08-12 population                       0.0                   0.0
           new_noncase                      0.0                   0.0
           new_suspected                    0.0                   0.0

                         Port Loko Pujehun Tonkolili  Unnamed: 18  \
date       variable
2014-08-12 population       557978  335574    434937          0.0
           new_noncase           1       0         0          0.0
           new_suspected         0       0         0          0.0

                          Western area Western area combined  \
date       variable
2014-08-12 population              0.0                   0.0
           new_noncase             0.0                   0.0
           new_suspected           0.0                   0.0

                         Western area rural Western area urban
date       variable
2014-08-12 population                263619            1040888
           new_noncase                    0                  0
           new_suspected                  0                  0

[3 rows x 25 columns]

In [22]:
Now proceed to the merging of duplicated columns

SyntaxError: invalid syntax (<ipython-input-22-c60a9bbca243>, line 1)

In [21]:
sl_merged = sl_data_indexed.copy()
sl_merged['Police training School'] = pd.concat([sl_data_indexed['Police training School'] +
                                                       sl_data_indexed['Police traning School']])
del sl_merged['Police traning School']
sl_merged['Western area'] = pd.concat([sl_data_indexed['Western area'] +
                                                       sl_data_indexed['Western area combined']])
del sl_merged['Western area combined']
sl_merged.head(3)

                          34 Military Hospital      Bo  Bo EMC Bombali  \
date       variable
2014-08-12 population                      0.0  654142     0.0  494139
           new_noncase                     0.0       0     0.0       0
           new_suspected                   0.0       1     0.0       0

                          Bonthe  Hastings-F/Town Kailahun  Kambia  Kenema  \
date       variable
2014-08-12 population     168729              0.0   465048  341690  653013
           new_noncase         0              0.0        0       0       3
           new_suspected       0              0.0        0       0       9

                          Kenema (IFRC)         ...         Moyamba National  \
date       variable                             ...
2014-08-12 population               0.0         ...          278119  6348350
           new_noncase              0.0         ...               0        4
           new_suspected            0.0         ...               0       10

                         Police training School Port Loko Pujehun  Tonkolili  \
date       variable
2014-08-12 population                       0.0    557978  335574     434937
           new_noncase                      0.0         1       0          0
           new_suspected                    0.0         0       0          0

                         Unnamed: 18 Western area Western area rural  \
date       variable
2014-08-12 population            0.0          0.0             263619
           new_noncase           0.0          0.0                  0
           new_suspected         0.0          0.0                  0

                          Western area urban
date       variable
2014-08-12 population                1040888
           new_noncase                     0
           new_suspected                   0

[3 rows x 23 columns]

## Task 2. RNA Sequences

In the `DATA_FOLDER/microbiome` subdirectory, there are 9 spreadsheets of microbiome data that was acquired from high-throughput RNA sequencing procedures, along with a 10<sup>th</sup> file that describes the content of each. 

Use pandas to import the first 9 spreadsheets into a single `DataFrame`.
Then, add the metadata information from the 10<sup>th</sup> spreadsheet as columns in the combined `DataFrame`.
Make sure that the final `DataFrame` has a unique index and all the `NaN` values have been replaced by the tag `unknown`.

In [18]:
# Write your answer here

## Task 3. Class War in Titanic

Use pandas to import the data file `Data/titanic.xls`. It contains data on all the passengers that travelled on the Titanic.

In [19]:
from IPython.core.display import HTML
HTML(filename=DATA_FOLDER+'/titanic.html')

For each of the following questions state clearly your assumptions and discuss your findings:
1. Describe the *type* and the *value range* of each attribute. Indicate and transform the attributes that can be `Categorical`. 
2. Plot histograms for the *travel class*, *embarkation port*, *sex* and *age* attributes. For the latter one, use *discrete decade intervals*. 
3. Calculate the proportion of passengers by *cabin floor*. Present your results in a *pie chart*.
4. For each *travel class*, calculate the proportion of the passengers that survived. Present your results in *pie charts*.
5. Calculate the proportion of the passengers that survived by *travel class* and *sex*. Present your results in *a single histogram*.
6. Create 2 equally populated *age categories* and calculate survival proportions by *age category*, *travel class* and *sex*. Present your results in a `DataFrame` with unique index.

In [20]:
# Write your answer here