In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
from ipywidgets import interact
import matplotlib.pyplot as plt
import seaborn
metadata = pd.read_excel('swiss_energy_production.xlsx', index_col=None, header=2)

In [2]:
#metadata = metadata.fillna(value=0)
metadata.head(10)

,Bois et charbon de bois,Unnamed: 1,Force hydraulique,Unnamed: 3,Ordures et déchets industriels,Unnamed: 5,Charbon,Unnamed: 7,Pétrole brut et produits pétroliers,Unnamed: 9,...,Combustibles nucléaires,Unnamed: 13,Autres énergies renouvelables,Unnamed: 15,Utilisation totale d'agents énergétiques,Unnamed: 17,"Electricité, solde import / export",Unnamed: 19,Consommation brute d’énergie dans le pays = 100%,Unnamed: 21
NaN,En TJ,Répartition en %,En TJ,Répartition en %,En TJ,Répartition en %,En TJ,Répartition en %,En TJ,Répartition en %,...,En TJ,Répartition en %,En TJ,Répartition en %,En TJ,Répartition en %,En TJ,Répartition en %,En TJ,Répartition en %
1910,17190,16.27,4500,4.26,...,...,83570,79.11,740,0.7,...,...,...,...,...,106000,100.34,-360,-0.34,105640,100
1911,17190,14.93,5400,4.69,...,...,92020,79.92,960,0.83,...,...,...,...,...,115570,100.37,-430,-0.37,115140,100
1912,17190,14.64,6120,5.21,...,...,93490,79.65,1010,0.86,...,...,...,...,...,117810,100.37,-430,-0.37,117380,100
1913,17190,14.06,6660,5.45,...,...,97890,80.04,1030,0.84,...,...,...,...,...,122770,100.38,-470,-0.38,122300,100
1914,16830,14.1,7020,5.88,...,...,95410,79.94,670,0.56,...,...,...,...,...,119930,100.49,-580,-0.49,119350,100
1915,14930,12.59,8100,6.83,...,...,96070,81.01,500,0.42,...,...,...,...,...,119600,100.85,-1010,-0.85,118590,100
1916,12590,11.15,8820,7.81,...,...,92390,81.83,180,0.16,...,...,...,...,...,113980,100.95,-1070,-0.95,112910,100
1917,13580,13.87,9720,9.93,...,...,75450,77.05,310,0.32,...,...,...,...,...,99060,101.16,-1140,-1.16,97920,100
1918,18330,18.69,10620,10.83,...,...,70020,71.38,300,0.31,...,...,...,...,...,99270,101.2,-1180,-1.2,98090,100

### Clean the Data

In [3]:
#Change the name of colums
def change_col_name(df):
    new_df = df.copy()
    cols_df = new_df.columns.values 
    prev_name = ""
    for i in range(len(cols_df)):
        name = cols_df[i]
        if(i % 2 == 0):
            prev_name = name
            new_df = new_df.rename(columns={name: prev_name + " in TJ"})
        else:
            new_df = new_df.rename(columns={name: prev_name + " in %"})
    return new_df

# check if a string is a number or not
def is_number(s):
    try:
        int(s)
        if(np.isnan(s)):
            return False
        else:
            return True
    except ValueError:
        return False

def keep_only_dates(df):
    new_df = df.copy()
    index_df = new_df.index.values
    bool_dates = []
    for i in range(len(index_df)):
        date = index_df[i]
        bool_dates.append(is_number(date))
        
    return new_df[bool_dates]

In [4]:
data = change_col_name(metadata)
data = keep_only_dates(data)
# We can see that we don't have unique index which is a problem
data.head()

,Bois et charbon de bois in TJ,Bois et charbon de bois in %,Force hydraulique in TJ,Force hydraulique in %,Ordures et déchets industriels in TJ,Ordures et déchets industriels in %,Charbon in TJ,Charbon in %,Pétrole brut et produits pétroliers in TJ,Pétrole brut et produits pétroliers in %,...,Combustibles nucléaires in TJ,Combustibles nucléaires in %,Autres énergies renouvelables in TJ,Autres énergies renouvelables in %,Utilisation totale d'agents énergétiques in TJ,Utilisation totale d'agents énergétiques in %,"Electricité, solde import / export in TJ","Electricité, solde import / export in %",Consommation brute d’énergie dans le pays = 100% in TJ,Consommation brute d’énergie dans le pays = 100% in %
1910,17190,16.27,4500,4.26,...,...,83570,79.11,740,0.7,...,...,...,...,...,106000,100.34,-360,-0.34,105640,100
1911,17190,14.93,5400,4.69,...,...,92020,79.92,960,0.83,...,...,...,...,...,115570,100.37,-430,-0.37,115140,100
1912,17190,14.64,6120,5.21,...,...,93490,79.65,1010,0.86,...,...,...,...,...,117810,100.37,-430,-0.37,117380,100
1913,17190,14.06,6660,5.45,...,...,97890,80.04,1030,0.84,...,...,...,...,...,122770,100.38,-470,-0.38,122300,100
1914,16830,14.1,7020,5.88,...,...,95410,79.94,670,0.56,...,...,...,...,...,119930,100.49,-580,-0.49,119350,100

Now we need to change de values where we have ... instead of 0

In [5]:
# Check if all index are ok
data.index.is_unique

True

In [6]:
data_clean = data.apply(pd.to_numeric, errors = 'coerce').fillna(value=0)
data_clean.head(5)

,Bois et charbon de bois in TJ,Bois et charbon de bois in %,Force hydraulique in TJ,Force hydraulique in %,Ordures et déchets industriels in TJ,Ordures et déchets industriels in %,Charbon in TJ,Charbon in %,Pétrole brut et produits pétroliers in TJ,Pétrole brut et produits pétroliers in %,...,Combustibles nucléaires in TJ,Combustibles nucléaires in %,Autres énergies renouvelables in TJ,Autres énergies renouvelables in %,Utilisation totale d'agents énergétiques in TJ,Utilisation totale d'agents énergétiques in %,"Electricité, solde import / export in TJ","Electricité, solde import / export in %",Consommation brute d’énergie dans le pays = 100% in TJ,Consommation brute d’énergie dans le pays = 100% in %
1910,17190,16.27,4500,4.26,0.0,0.0,83570,79.11,740,0.70,...,0.0,0.0,0.0,0.0,106000,100.34,-360,-0.34,105640,100
1911,17190,14.93,5400,4.69,0.0,0.0,92020,79.92,960,0.83,...,0.0,0.0,0.0,0.0,115570,100.37,-430,-0.37,115140,100
1912,17190,14.64,6120,5.21,0.0,0.0,93490,79.65,1010,0.86,...,0.0,0.0,0.0,0.0,117810,100.37,-430,-0.37,117380,100
1913,17190,14.06,6660,5.45,0.0,0.0,97890,80.04,1030,0.84,...,0.0,0.0,0.0,0.0,122770,100.38,-470,-0.38,122300,100
1914,16830,14.10,7020,5.88,0.0,0.0,95410,79.94,670,0.56,...,0.0,0.0,0.0,0.0,119930,100.49,-580,-0.49,119350,100

We can see that we have a column "Consommation brute d’énergie dans le pays = 100% in %" which is always equal to 100%... so it's not very interesting. Futhermore the "Consommation brute d’énergie dans le pays = 100% in TJ" is a little bit ambiguous so let's change this

In [7]:
data_clean_drop = data_clean.drop(['Consommation brute d’énergie dans le pays = 100% in %'], axis=1)
final_data_clean = data_clean_drop.rename(columns={"Consommation brute d’énergie dans le pays = 100% in TJ": "Consommation brute d’énergie dans le pays in TJ"})
final_data_clean.head()

,Bois et charbon de bois in TJ,Bois et charbon de bois in %,Force hydraulique in TJ,Force hydraulique in %,Ordures et déchets industriels in TJ,Ordures et déchets industriels in %,Charbon in TJ,Charbon in %,Pétrole brut et produits pétroliers in TJ,Pétrole brut et produits pétroliers in %,...,Gaz in %,Combustibles nucléaires in TJ,Combustibles nucléaires in %,Autres énergies renouvelables in TJ,Autres énergies renouvelables in %,Utilisation totale d'agents énergétiques in TJ,Utilisation totale d'agents énergétiques in %,"Electricité, solde import / export in TJ","Electricité, solde import / export in %",Consommation brute d’énergie dans le pays in TJ
1910,17190,16.27,4500,4.26,0.0,0.0,83570,79.11,740,0.70,...,0.0,0.0,0.0,0.0,0.0,106000,100.34,-360,-0.34,105640
1911,17190,14.93,5400,4.69,0.0,0.0,92020,79.92,960,0.83,...,0.0,0.0,0.0,0.0,0.0,115570,100.37,-430,-0.37,115140
1912,17190,14.64,6120,5.21,0.0,0.0,93490,79.65,1010,0.86,...,0.0,0.0,0.0,0.0,0.0,117810,100.37,-430,-0.37,117380
1913,17190,14.06,6660,5.45,0.0,0.0,97890,80.04,1030,0.84,...,0.0,0.0,0.0,0.0,0.0,122770,100.38,-470,-0.38,122300
1914,16830,14.10,7020,5.88,0.0,0.0,95410,79.94,670,0.56,...,0.0,0.0,0.0,0.0,0.0,119930,100.49,-580,-0.49,119350

In [8]:
# Check one
final_data_clean["Ordures et déchets industriels in %"].head(5)

1910    0.0
1911    0.0
1912    0.0
1913    0.0
1914    0.0
Name: Ordures et déchets industriels in %, dtype: float64

Now that we have this, we can separate our datafram into 2 differents. Why? So we can have one with only with Tera-joules and one with only the percentage

In [9]:
def countains_str(df, str_):
    new_df = df.copy()
    index_df = new_df.columns.values
    names = []
    for i in range(len(index_df)):
        col_name = index_df[i]
        if str_ in col_name: 
            names.append(col_name)
    return new_df[names]

In [10]:
data_clean_TJ = countains_str(final_data_clean, "TJ")
data_clean_TJ.head()

,Bois et charbon de bois in TJ,Force hydraulique in TJ,Ordures et déchets industriels in TJ,Charbon in TJ,Pétrole brut et produits pétroliers in TJ,Gaz in TJ,Combustibles nucléaires in TJ,Autres énergies renouvelables in TJ,Utilisation totale d'agents énergétiques in TJ,"Electricité, solde import / export in TJ",Consommation brute d’énergie dans le pays in TJ
1910,17190,4500,0.0,83570,740,0.0,0.0,0.0,106000,-360,105640
1911,17190,5400,0.0,92020,960,0.0,0.0,0.0,115570,-430,115140
1912,17190,6120,0.0,93490,1010,0.0,0.0,0.0,117810,-430,117380
1913,17190,6660,0.0,97890,1030,0.0,0.0,0.0,122770,-470,122300
1914,16830,7020,0.0,95410,670,0.0,0.0,0.0,119930,-580,119350

In [11]:
data_clean_perc = countains_str(final_data_clean, "%")
data_clean_perc.head()

,Bois et charbon de bois in %,Force hydraulique in %,Ordures et déchets industriels in %,Charbon in %,Pétrole brut et produits pétroliers in %,Gaz in %,Combustibles nucléaires in %,Autres énergies renouvelables in %,Utilisation totale d'agents énergétiques in %,"Electricité, solde import / export in %"
1910,16.27,4.26,0.0,79.11,0.70,0.0,0.0,0.0,100.34,-0.34
1911,14.93,4.69,0.0,79.92,0.83,0.0,0.0,0.0,100.37,-0.37
1912,14.64,5.21,0.0,79.65,0.86,0.0,0.0,0.0,100.37,-0.37
1913,14.06,5.45,0.0,80.04,0.84,0.0,0.0,0.0,100.38,-0.38
1914,14.10,5.88,0.0,79.94,0.56,0.0,0.0,0.0,100.49,-0.49

First we will see by year the evolution of the enery production in Switzerland

In [12]:
# to plot a datafram with many colors
def plot_df(df, title):
    seaborn.set_palette("Set1")
    #seaborn.set_palette("muted")
    seaborn.set_context("notebook")
    figure, axes = plt.subplots(1, 1, figsize=(20,10))
    result = seaborn.barplot(df.index, df, ax=axes)
    result.set_xticklabels(df.index, rotation=90)
    result.set_title(title, fontsize=14, fontweight="bold")
    
    return result

def interaction_date_bar_TJ(value):
    %matplotlib inline
    new_df= data_clean_TJ.loc[value]
    return plot_df(new_df, value)

def interaction_date_bar_perc(value):
    %matplotlib inline
    new_df= data_clean_perc.loc[value]
    return plot_df(new_df, value)

In [13]:
dates = data_clean_TJ.index.values
interact(interaction_date_bar_TJ, value = list(dates));

A Jupyter Widget

In [14]:
dates = data_clean_perc.index.values
interact(interaction_date_bar_perc, value = list(dates));

A Jupyter Widget

Now, we will do the same thing for all the categories. To do so we can juste transpose our dataframe and reuse the same functions

In [15]:
data_clean_TJ_trans = data_clean_TJ.transpose()
data_clean_TJ_trans.head()

,1910,1911,1912,1913,1914,1915,1916,1917,1918,1919,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
Bois et charbon de bois in TJ,17190.0,17190.0,17190.0,17190.0,16830.0,14930.0,12590.0,13580.0,18330.0,19750.0,...,31880.0,32320.0,31450.0,35590.0,37120.0,40000.0,35910.0,40380.0,44370.0,38500.0
Force hydraulique in TJ,4500.0,5400.0,6120.0,6660.0,7020.0,8100.0,8820.0,9720.0,10620.0,10440.0,...,117930.0,117210.0,130940.0,135210.0,133690.0,134820.0,121660.0,143660.0,142460.0,141510.0
Ordures et déchets industriels in TJ,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,51260.0,55090.0,55260.0,54800.0,52910.0,54640.0,55480.0,56390.0,54830.0,56880.0
Charbon in TJ,83570.0,92020.0,93490.0,97890.0,95410.0,96070.0,92390.0,75450.0,70020.0,53180.0,...,6040.0,6520.0,7300.0,6560.0,6190.0,6210.0,5840.0,5270.0,5670.0,5910.0
Pétrole brut et produits pétroliers in TJ,740.0,960.0,1010.0,1030.0,670.0,500.0,180.0,310.0,300.0,640.0,...,533330.0,532310.0,508420.0,525990.0,512710.0,523490.0,485280.0,494270.0,503880.0,462560.0

In [16]:
def interaction_date_bar_TJ_trans(value):
    %matplotlib inline
    new_df= data_clean_TJ_trans.loc[value]
    return plot_df(new_df, value)

In [17]:
dates = data_clean_TJ_trans.index.values
interact(interaction_date_bar_TJ_trans, value = list(dates));

A Jupyter Widget

In [18]:
data_clean_perc_trans = data_clean_perc.transpose()
data_clean_perc_trans.head()

,1910,1911,1912,1913,1914,1915,1916,1917,1918,1919,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
Bois et charbon de bois in %,16.27,14.93,14.64,14.06,14.10,12.59,11.15,13.87,18.69,23.84,...,2.82,2.78,2.77,3.04,3.24,3.39,3.20,3.54,3.81,3.47
Force hydraulique in %,4.26,4.69,5.21,5.45,5.88,6.83,7.81,9.93,10.83,12.60,...,10.44,10.08,11.54,11.56,11.66,11.44,10.85,12.60,12.23,12.77
Ordures et déchets industriels in %,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,4.54,4.74,4.87,4.69,4.62,4.64,4.95,4.95,4.71,5.13
Charbon in %,79.11,79.92,79.65,80.04,79.94,81.01,81.83,77.05,71.38,64.20,...,0.53,0.56,0.64,0.56,0.54,0.53,0.52,0.46,0.49,0.53
Pétrole brut et produits pétroliers in %,0.70,0.83,0.86,0.84,0.56,0.42,0.16,0.32,0.31,0.77,...,47.21,45.78,44.81,44.98,44.73,44.43,43.29,43.36,43.24,41.73

In [19]:
def interaction_date_bar_perc_trans(value):
    %matplotlib inline
    new_df= data_clean_perc_trans.loc[value]
    return plot_df(new_df, value)

In [20]:
dates = data_clean_perc_trans.index.values
interact(interaction_date_bar_perc_trans, value = list(dates));

A Jupyter Widget

OK but i think that there is a way to to this without redefining a function everytime ........ TO DO
And TO DO better clean the data becaus "Utilisation totale d'agents énergétiques in TJ" and "Utilisation totale d'agents énergétiques in %" disrupts the plots ..... (add others data?? not many...)